.App {
  text-align: center;
  background: rgb(215,174,238);
  background: radial-gradient(circle, rgba(215,174,238,1) 0%, rgba(141,163,116,1) 100%);};
.Cardd {
 
  display: flex;
  align-content: center;
  margin-top: 20px;
  border-radius: 20px;
  box-shadow: -4px 3px 15px 5px rgba(38, 30, 42, 0.83);
  -webkit-box-shadow: -4px 3px 15px 5px rgba(19,17,20,0.83);
  -moz-box-shadow: -4px 3px 15px 5px rgba(19,17,20,0.83);
  background: rgb(215,174,238);

};
